.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center; /* Centra le immagini verticalmente se desiderato */
    padding: 20px 0;
}

.horizontal-scroll .small-img {
    flex: 0 0 auto; /* Impedisce alle immagini di restringersi */
    width: auto; /* Mantiene il rapporto dell'immagine */
    height: 150px; /* Imposta un'altezza fissa per tutte le immagini */
    margin-right: 10px;
}

.white-panel {
    background-color: white;
    padding: 20px;
    height: 100%;
}
.carfix {
    min-height: 60vh;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
.white-panel {
    position: relative;
    padding: 20px;
    min-height: 60vh;

}

.shadow-box {
    position: absolute;
    padding: 20px; /* Aggiungi un padding per assicurare spazio intorno al contenuto */
    overflow: hidden; 
    left: 10px;
    right: 10px;
    bottom: 10px;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra il contenuto verticalmente */
}
.image-radio-label {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    border: 2px solid transparent;
    background-position: center;
    margin: 10px;
}

.image-radio-label.selected {
    border-color: #000000; /* Colore del bordo per il pulsante selezionato */
}
.image-radio-button input[type="radio"] {
    display: none; /* Nasconde visivamente l'input radio ma lo mantiene nel DOM */
}