.custom-navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  background-color: hsl(210, 17%, 98%); /* Un colore di sfondo leggero per la navbar */
  z-index: 1100!important; /* Assicurati che sia inferiore a quello dei box ma superiore al contenuto della pagina */
  padding: 0rem 0rem !important;
  min-height: 56px!important; /* Imposta l'altezza della Navbar */
  display: flex!important;
  align-items: center!important; /* Centra il contenuto verticalmente */

}

.custom-navbar, .custom-navbar .container-fluid, .custom-navbar .navbar-collapse {
  min-height: 56px !important;
  height: 56px !important;
}

.custom-navbar .navbar-nav {
  display: flex!important;
  align-items: center!important;
  height: 100%!important;
}

.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  display: flex!important;
  align-items: center!important;
  height: 56px !important;
}
/**/
.navbar-brand-bold {
  font-weight: bold;
  font-size: larger;

}

.logo {
  vertical-align: middle;
  margin-right: 10px;
  padding: 0rem 0rem;

}

.icon {
  vertical-align: middle;
  margin-right: 10px;

}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.info-box.closing {
  animation: slideUp 0.2s ease-out forwards;
}
.info-box.opening {
  animation: slideDown 0.2s ease-out forwards;}
.info-box {
  position: absolute;
  top: 56px; /* Adegua in base all'altezza della navbar */
  left: 0;
  width: 100%;
  background-color: hsl(210, 17%, 98%); /* Un colore di sfondo leggero per la navbar */
  padding: 20px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);*/
  z-index: 1050!important; /* Assicura che il box appaia sopra gli altri contenuti */
  /*animation: slideDown 0.2s ease-out forwards;*/
}

.info-box p {
  margin: 0;
  padding: 0;

}

.info-box button {
  margin-top: 10px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.info-box button:hover {
  background-color: #0056b3;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 900;
}
.backdrop.opening {
  animation: fadeIn 0.2s ease-out forwards;
}
.backdrop.closing {
  animation: fadeOut 0.2s ease-out forwards;
}