
.button-small-width {
    width: 150px !important;
}

.responsive-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.responsive-buttons .btn {
    flex: 1 1 auto;
    min-width: 120px;
}

/* Media query per schermi più piccoli */
@media (max-width: 576px) {
    .responsive-buttons .btn {
        flex: 1 1 100%;
        text-align: center; 
    }
}