body {
  margin: 0;
}

.Home {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}

.intro-text {
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}
.intro-text-video {
  text-transform: uppercase;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}
.text-big {
  font-size: 5rem;
  font-weight: 800 !important;
}

.blur-text {
  text-transform: uppercace;
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
  margin: 5;
  letter-spacing: 2.5px;
  line-height: 50px;
}

.blur-plx {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.background-image {
  background: url('../../assets/AboutUsPhoto/uomoUrla&Scia.jpg');
  background-position: center; /* Centra l'immagine di sfondo */
  background-size: cover;
  z-index: 0;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  opacity: 1;
  /* transfom: scale(0.8);  */
}
.background-video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centra l'immagine di sfondo */

  color: #fff;
  height: 100vh;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden; /* Ensure the video does not overflow */
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.Main{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1); /* Semi-transparent black background */
}

video{
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}


.full-width-row {
  width: 100%;
  margin: 0 !important; /* Rimuove qualsiasi margine */
  padding: 0; /* Rimuove padding se necessario */
  background-color: black; /* Imposta lo sfondo bianco */
}

.custom-h1 {
  margin: 0; /* Garantisce che l'h1 non abbia margini */
}

.img-aura{
  width: 70%;
  /* height: 70vh; */
}





.text-container {
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 2;
  color: white;
  margin: 5;
  letter-spacing: 2.5px;
  line-height: 50px;
   /* Semi-transparent background */
  padding: 20px; /* Add some padding for better readability */
}
.text-container-video {
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 2;
  color: black;
  margin: 5;
  letter-spacing: 2.5px;
  line-height: 50px;
   /* Semi-transparent background */
  padding: 20px; /* Add some padding for better readability */
}
.blur-text {
  text-transform: uppercace;
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
  margin: 5;
  letter-spacing: 2.5px;
  line-height: 50px;
}

.img-aura {
  width: 100%;
  height: 100%;
  object-fit: cover; /* L'immagine copre completamente il contenitore mantenendo le proporzioni */
}


.custom-button {
  background-color: transparent !important;
  border: 2px solid white !important;
  color: white !important;
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}


/**/


.text-style {
  color: rgb(255, 255, 255);
  font-weight: 500;
}