
.custom-navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsl(210, 17%, 98%); 
  z-index: 200!important; 
  padding: 0rem 1rem !important;
}

.custom-navbar .navbar-nav {
  display: flex!important;
  align-items: center!important;
  height: 100%!important;
}

.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  display: flex!important;
  align-items: center!important;
  height: 56px !important;
}

.navbar-brand-bold {
  font-weight: bold;
  font-size: larger;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bold {
  display: inline-block;
  color: #1A1B25; 
  position: relative;
}

.fadeIn {
  animation: fadeIn 5s ease-out; 
}

.bold:hover,
.bold.hovered {
  font-weight: bold!important;  
}

.logo {
  vertical-align: middle;
  margin-right: 10px;
  padding: 0rem 0rem;
}

.icon {
  vertical-align: middle;
  margin-right: 10px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.info-box.closing {
  animation: slideUp 0.2s ease-out forwards;
}

.info-box.opening {
  animation: slideDown 0.2s ease-out forwards;
}

.info-box {
  position: absolute;
  top: 56px; 
  left: 0;
  width: 100%;
  background-color: hsl(210, 17%, 98%); 
  padding: 20px;
  z-index: 199!important; 
}

.info-box p {
  margin: 0;
  padding: 0;
}

.info-box button {
  margin-top: 10px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.info-box button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 198;
}
.backdrop.opening {
  animation: fadeIn 0.2s ease-out forwards;
}

.backdrop.closing {
  animation: fadeOut 0.2s ease-out forwards;
}

.con{
  width: 100vw !important;
  padding: 0px !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.bold:hover .hover-underline-animation::after,
.bold.hovered .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bold-text-navbar{
  font-weight: bold;
}
.text-navbar-box{
  font-weight: normal; 
  color: #000000; 
  text-decoration: none !important; 
}

.text-colored-navbar{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;

}
.text-search-find{
  font-size: 12px;

}

.hover-underline-animation-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  transition: font-weight 0.3s ease-in-out;
}

.hover-underline-animation-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.hover-underline-animation-text:hover {
  font-weight: bold;
}

.no-border {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}