.card-blog {
    max-width: auto !important;
    max-height: 600px!important;
    min-height: auto!important;
}
.centered-text-blog {
    color: white !important;
    font-weight: bold;
    text-align: center;
    width: 100%;
    z-index: 2;

}
.centered-text-blog-edit {
  color: white !important;
  font-weight: bold;
  text-align: center;
  width: 100%;
  z-index: 2;
  top: 30%
}
.img-cop-blog {
    max-height: 35vw; /* Set the maximum height */
    width: 100%;
    position: relative;
    overflow: hidden; /* Hide any overflowing content */
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center;    /* Vertically center the image */

}
.img-maxH
{
    max-height: 50vw; /* Set the maximum height */
    width: auto;
    position: relative;
    overflow: hidden; /* Hide any overflowing content */
    display: flex;
    object-fit: cover !important;
    justify-content: center; /* Horizontally center the image */
    align-items: center;    /* Vertically center the image */
}

/* Image styling */
.img-cop-blog img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.img-car-blog {
    object-fit: cover !important;
  }
  
  .zoom-image {
    max-width: 867px !important;
    max-height: 600px !important;
    aspect-ratio: 4 / 5 !important;

    overflow: hidden;
    filter: brightness(70%);
  }
  
  .zoom-image img,
.centered-text-blog {
    transition: transform 0.3s ease;
  }
  
  .zoom-image:hover img,
.zoom-image:hover .centered-text-blog  {
    transform: scale(1.1);
  }
  
  .zoom-image img {
    transform: scale(1);
  }

  
  