.card-image-fit-se {
    width: auto;
    height: 300px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures the image fills the container while cropping if necessary */
    overflow: hidden; /* Hide any overflowing content */

}