.motto2 {
    font-weight: bold; /* Rende il testo in grassetto */
    position: absolute;
    font-style: italic; /* Rende il testo in corsivo */
    left: 40vw;
    margin-top: 0.5em;
    color: #046586;
    font-size: 5vw;
  }
  .darkness {
    filter: brightness(35%);
}
.no-space-rowBg {
  display: flex;
  align-items: center; /* Allinea verticalmente */
  justify-content: center; /* Allinea orizzontalmente */
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; /* Posizione relativa per il contenimento del testo assoluto */
}

.centered-text {
  position: absolute;
  font-weight:normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Cambia il colore del testo come preferisci */
  font-size: 5vw; /* Aggiusta la dimensione del testo secondo necessità */
  z-index: 10; /* Assicurati che il testo sia visibile sopra l'immagine */
  text-align: center;
  width: 100%;
}
.boldText {
  font-weight: bold; /* Rende il testo in grassetto */
}

.img-fluid {
  width: 100%; /* Assicura che l'immagine si adatti alla larghezza del contenitore */
  height: auto; /* Mantiene il rapporto dell'immagine */
}
.title-centered {
  text-align: left; /* Centra il testo orizzontalmente */
  font-weight: bold; /* Rende il testo in grassetto */
  width: 100%; /* Estende il titolo all'intera larghezza del contenitore */
  margin: 0; /* Rimuove margini predefiniti */
}
.card-text-prod {
  font-weight: bold;
  text-decoration: none;
}


.darknesss {
  position: relative;
  background-size: cover;
  background-position: center;

}





.card-image-fit {
  width: auto; /* Imposta la larghezza desiderata */
  height: auto; /* Imposta l'altezza desiderata */
  object-fit: cover; /* Assicura che l'immagine sia ridimensionata per coprire l'intera area mantenendo le proporzioni */

}

.card-prod {
  box-shadow: 15px 15px 15px 5px rgba(0,0,0,0.2); /* Orizzontale e verticale */
  border: none !important; 
  background: #ffffff;
}

.container-prod {
  size:  100%;
  margin: 0 !important; 
  padding: 0 !important; 
  padding-right: 0 !important;
}

/**/
.card-image-container {
  position: relative;
  overflow: hidden;
}

.card-image-fit-prod {
  position: absolute;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
.card-image-fit-prod::after {
  position: absolute;
  opacity: 1;
}

.card-image-visible {
  position: relative;
  transition: opacity 0.5s ease-in;
  opacity: 1; 
}

.card-prod-prod-ca {
  transition: transform 0.3s ease-in-out; /* Transizione fluida per l'animazione */
}

.card-prod-prod-ca:hover {
  transform: scale(1.05); /* Aumenta la dimensione del 5% quando il mouse è sopra */
}