.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    padding: 20px 0;
}

.horizontal-scroll .small-img {
    flex: 0 0 auto; 
    width: auto;
    height: 150px; 
    margin-right: 10px;
}

.white-panel {
    background-color: white;
    padding: 20px;
    height: 100%;
}
.carfix {
    min-height: 60vh;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
.white-panel {
    position: relative;
    padding: 20px;
    min-height: 60vh;

}

.shadow-box {
    position: relative;
    padding: 20px; 
    overflow: hidden; 
    left: 10px;
    right: 10px;
    bottom: 10px;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.image-radio-label {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    border: 2.5px solid #dbd9d9;
    background-position: center;
    margin: 10px;
}

.image-radio-label.selected {
    border-color: #000000; 
}
.image-radio-button input[type="radio"] {
    display: none; 
}

.ombra{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.19);
}

.img-prod {
  object-fit: contain;
  object-position: center;
  width: 100%; 
  height: 48vw !important; 
}
.tabs-black .nav-link.active {
  background-color: #000000; 
  color: #ffffff; 
}

.tabs-black .nav-link {
  background-color: #f8f9fa; 
  color: #000000; 
}

.no-space-rowBg-prod {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .button-black-prod {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    color: #212529;
    border: 2px solid #212529;
    cursor: pointer;
    text-align: center;
    width: 30vw; 
    border-radius: 5px;
  }
  
  .button-black-prod::before, .button-black-prod::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #212529;
  }
  
  .button-black-prod::after {
    right:5px;
    top: -15px;
    border-bottom-color: #4CAF50;
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    border-bottom: 15px solid #212529; 
  
  }

  .button-black-prod-nomon {
    position: relative;
    padding: 10px 20px;
    background-color: white;
    color: #212529;
    border: 2px solid #212529;
    cursor: pointer;
    text-align: center;
    width: 30vw; 
    border-radius: 5px; 
  }
  
  
  .custom-modal {
    overflow: hidden !important;
    overflow-x: hidden !important;


  }
  
  .custom-modal-body {
    font-size: x-large;
    text-align: center;
    font-weight: normal;
  }

  .title-text-prod{
    font-size: 3em ;
    font-weight: normal ; 

  }
  .price-text-prod{
    font-size: 2em ;
    font-weight: bold ; 

  }


  .button-black-prod.loading {
    background-color: rgb(255, 255, 255);
}

.button-black-prod.confirmed {
    background-color: #212529; 
}

.balck-back{
  background-color: #000000;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 32px;
    height: 32px;
    object-position: center;

    border-radius: 50%;
    border-left-color: rgb(0, 0, 0);
    animation: spin 0.5s linear infinite;
    position: relative;  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.icon-confirmed {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;

}

.button-black-prod.confirmed {
  background-color: rgb(255, 255, 255); 
  color: #212529 !important; 
}

.button-black-prod-nomon.loading {
  background-color: rgb(255, 255, 255);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(255, 0, 0) !important; 
    width: 30px; 
    height: 30px; 
    background-size: 100%, 100%;
}

.fixed-bottom-info {
  position: fixed;
  bottom: 10px; 
  left: 10px;   
  right: 50px;  
  width: 98%;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.5);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border: 2px solid lightgray; 
  transition: transform 0.3s ease-in-out;
  transform: translateY(120%);
}

.fixed-bottom-info.show {
  transform: translateY(0);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black !important;
    width: 30px !important; 
    height: 30px !important; 
    background-size: 100% 100% !important; 
    border-radius: 50% !important; 
    margin: 10px !important; 
}

.centered-text-p {
  position: absolute;
  font-weight:normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8vw; 
  z-index: 10; 
  text-align: center;
  width: 100%;
}

.nav-tabs {
  padding-left: 15px;
  margin-bottom: 0;
  border: none;
}
.tab-content {
  border: 2px solid #000000;
  border-left: 0px solid #000000;
  border-right: 0px solid #000000;

  border-radius: 0px;
  padding: 1px;
  padding-left: 0px;
  padding-right: 0px;

}

.tabs-black .nav-link {
  border-top: 1px solid rgb(214, 214, 214) !important; 
  border-left: 1px solid  rgb(214, 214, 214) !important; 
  border-right: 1px solid  rgb(214, 214, 214) !important; 
  margin: 0 2px;
  border-bottom: none !important;
  background-color: rgb(255, 255, 255) !important; 
  color: black !important; 
  margin-bottom: -2px !important; 
  font-weight: none;
}

.tabs-black .nav-link.active {
  border-top: 2px solid black !important; 
  border-left: 2px solid black !important;
  border-right: 2px solid black !important; 
  background-color: #ffffff !important;
  border-bottom: 2px solid white !important; 
  color: black !important; 
  font-weight: bold;

}

.tabs-black .nav-link:hover {
  background-color: #ffffff !important; 
}


.text-box-prod {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  overflow: hidden;
  text-decoration: none;

}

.text-box-prod::before, .text-box-prod::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.text-box-prod::after {
  bottom: 0;
  transform-origin: left; 
}

.text-box-prod::before {
  bottom: 0;
  transform-origin: left;
}

.text-box-prod:hover {
  font-weight: bold;
}

.text-box-prod:hover::before {
  transform: scaleX(1);
}

.text-box-prod:hover::after{
  transform: scaleX(1);
}

.text-box-prod:not(:hover)::before {
  transform: scaleX(0);
  transform-origin: right;
}

.text-box-prod:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}


/**/ /*red*/

.button-red-prod {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: #dc3545;
  border: 2px solid #dc3545;
  cursor: pointer;
  text-align: center;
  width: 30vw; 
  border-radius: 5px;
}

.button-red-prod::before, .button-red-prod::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dc3545;
}

.button-red-prod::after {
  right:5px;
  top: -15px;
  border-bottom-color: #4CAF50;
  border-left: 15px solid transparent; 
  border-right: 15px solid transparent; 
  border-bottom: 15px solid #dc3545; 

}

.button-red-prod-nomon {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: #dc3545;
  border: 2px solid #dc3545;
  cursor: pointer;
  text-align: center;
  width: 30vw; 
  border-radius: 5px; 
}
.button-red-prod-nomon {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: #dc3545;
  border: 2px solid #dc3545;
  cursor: pointer;
  text-align: center;
  width: 30vw; 
  border-radius: 5px; 
}